<ion-content>
  <div class="body">
    <div class="container">
      <img src="../../../../assets/img/logo_polizaqui.jpeg" alt="PolizaAqui Logo">
      <h1>¡Página no encontrada!</h1>
      <p class="message">Lo sentimos, la página que estás buscando no existe. Puede que hayas escrito mal la dirección o la página haya sido movida.</p>
      <button class="button" (click)="goHome()">Volver al Inicio</button>
    </div>
    <footer>
      <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
    </footer>
  </div>
</ion-content>
