<div class="body">
  <div class="container">
    <img src="../../../assets/img/logo_polizaqui.jpeg" alt="PolizaAqui Logo">
    <h1>{{ title }}</h1>
    <form [formGroup]="formLogin" (ngSubmit)="Submit()">
      <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="error-message">
        <div *ngIf="emailControl.errors?.['required']">El campo es obligatorio*</div>
        <div *ngIf="emailControl.errors?.['pattern']">Correo Inválido</div>
      </div>
      <ion-input type="email" class="input-field" placeholder="   Correo electrónico" formControlName="email"></ion-input>
      
      <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="error-message">
        <div *ngIf="passwordControl.errors?.['required']">El campo es obligatorio*</div>
      </div>

      <div class="input-container">
        <ion-input [type]="passwordFieldType" class="input-field" placeholder="   Contraseña" formControlName="password"></ion-input>
        <ion-icon [name]="passwordIcon" (click)="togglePasswordVisibility()" class="eye-icon" slot="end"></ion-icon>
      </div>
      <app-components *ngIf="loading"></app-components>
      <button type="submit" class="button" color="transparent">Iniciar Sesión</button>
      <a class="link" (click)="RoutingNavigate()">{{ subtitle }}</a>
   
    </form>
  </div>
  <div class="link-information">
    <p>No tienes una cuenta <strong (click)="Routing()">Registrarse</strong></p>
  </div>
  <footer>
    <p>&copy; 2024 PolizaAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
  </footer>
</div>
